# History files
.Rhistory
.Rapp.history
# Example code in package build process
*-Ex.R
# RStudio files
.Rproj.user/
# produced vignettes
vignettes/*.html
vignettes/*.pdf
.Rproj.user
murre_gps.Rproj
.RData
SWE_adm0.RData
# image files
*.png
*.pdf
*.jpg
*.wmf
bsbd-0.9.3.grd
bsbd-0.9.3_full.grd
wsc_bath.ps
wsc_bath2.ps
wsc_chick_fledge.ps
wsc_chick_weight.ps
wsc_coldist.ps
wsc_depth.ps
